.header-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    box-shadow: 0 4px 4px 0 #0000000f;
    font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;

}
.profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    transition: 0.3s ease;
}

.profile:hover {
    transform: scale(1.08);
    border-color: var(--color-primary-hover);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}


.login-logout {
    display: flex;
    align-items: end;
    gap: 20px;

}

.header-link {
    text-decoration: none;
    color: var(--color-bg);
    transition: 0.2s;
    background-color: var(--color-primary);
    padding: 10px 10px;
    border-radius: 8px;
    text-transform: none;
}

.header-link:hover {
    color: var(--color-bg);
    background-color: var(--color-primary-hover);
}

.header-logo {
    width: 30%;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
}

.hamburger {
    display: none;

}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
    flex-direction: column;
    position: absolute;
    background-color: #fafafa;
    padding: 10px 0px;
    box-shadow: 2px 4px 8px 0 #0000000f;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    right: 20px;
    top: 70px;

    /* état caché */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.4s ease;
}

/* état visible */
.menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}



.menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.2s;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Hover */
.menu-link:hover {
    color: var(--color-bg);
    background-color: var(--color-primary-hover);
}

/* Icônes */
.svg-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

/*mobile*/
@media screen and (max-width: 480px) {

    .login-logout {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
    }

    .menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        height: 50vh;
        /* moitié écran */
        width: 100%;
        max-width: 100%;
        border-radius: 16px 16px 0 0;

        /* caché */
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease;
    }

    .menu.active {
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;

    }
}


/*tablette portrait*/
@media (min-width: 481px) and (max-width: 768px) {
    .login-logout {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 20px;
        width: 320px;
        height: auto;
        /* caché */
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .menu.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
}

/*tablette paysage*/
@media (min-width: 769px) and (max-width: 1024px) {


    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }



    .menu {
        position: absolute;
        top: 90px;
        right: 0px;
        width: 320px;
        height: 800px;
        /* caché */
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .menu.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

}