.post-container {
    width: clamp(200px, 75%, 600px);
    margin: 20px auto;    
    padding: 15px;         
    box-sizing: border-box; 
    background-color:var(--color-foter-bg) ;
    box-shadow: 0px 2px 1px  0px #888585;
    

}
.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap; 
}

.profile, .meta1 {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0; 
}

.pseudo, .date {
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
}



/* bloc profil */
.profile {
    display: flex;
    align-items: center;
    gap: 7px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* cercle */
    object-fit: cover;
}



.follow-button {
    background-color:var(--color-primary);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.follow-button:hover {
    background-color: var(--color-primary-hover);
}
.pseudo{
    color: black;

}

.post-image {
    width: 100%;          
    max-height: 400px;    
    object-fit: cover;    
    border-radius: 8px;   
    display: block;       
    margin: 10px 0;
}


.post-body{
    width: 100%;
}

.post-footer {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.post-footer p {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin: 0;
    font-size: 14px;
    color: #333;
}

.post-footer svg {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.post-footer svg:hover {
    transform: scale(1.2); 
    fill: var(--color-primary); 
}
