.side-bar-container{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    gap: 20px;
    height: 300px;
    width: 50px;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 8px 0px #b6b4b4;

}
.icon{
    width: 80%;
    color: var(--color-gray-dark);

}
